body {
    font-family: "Poppins", sans-serif;
    padding-top: 90px;
}

.head-section .navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.head-section .navbar.scrolled {
    background-color: rgba(
        255,
        255,
        255,
        0.8
    ); /* Adjust the alpha value to control the fading effect */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05); /* Reduce the box shadow to make it less pronounced */
}

.btn-custom-login {
    background-color: black;
    color: white;
    border: 1px solid black;
}

.btn-custom-login:hover {
    background-color: white;
    color: black;
    border-color: rgb(0, 0, 0);
}

.btn-custom-signup {
    background-color: black;
    color: white;
    border: 1px solid black;
}

.btn-custom-signup:hover {
    background-color: white;
    color: black;
    border-color: rgb(0, 0, 0);
}

.navbar-nav .nav-link {
    color: #000; /* Change this to your desired color */
    font-weight: 500;
    text-decoration: none; /* Remove default underline */
    transition: color 0.3s, border-bottom-color 0.3s;
}

.navbar-nav .nav-link:hover {
    color: #007bff; /* Change this to your desired hover color */
    border-bottom: 2px solid #007bff; /* Add underline on hover */
}

.navbar-nav .nav-item.active .nav-link {
    color: #fff; /* Change this to your desired active link color */
    background-color: #007bff; /* Change this to your desired active link background color */
}

#menu-item-home,
#menu-item-aboutus,
#menu-item-contact {
    padding-left: 20px; /* Adjust the value as needed for your design */
}

.ui-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.ui-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #111111;
    font-size: 24px;
    transition: color 0.4s;
}

.dark .ui-switch .slider {
    color: white;
}

input:checked + .slider {
    color: #2196f3;
}

.dark {
    background-color: rgb(31 41 55);
    color: white;
}

.dark .navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgb(31, 41, 55);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.dark .nav-link {
    color: white;
}

/*.dark #navbartoggler {
    background-color: rgb(107 114 128);
    color: #343a40;
}*/

.dark .nav-link:hover,
.dark .nav-link.active {
    color: #007bff;
}

.dark .navbar-nav .nav-link:hover i {
    color: #007bff !important; /* This is the blue color you want */
}

.btn-custom-login,
.btn-custom-signup {
    background-color: black;
    color: white;
    border: 1px solid black;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.btn-custom-login:hover,
.btn-custom-signup:hover {
    background-color: white;
    color: black;
    border-color: rgb(0, 0, 0);
}

.dark .btn-custom-login,
.dark .btn-custom-signup {
    background-color: white;
    color: rgb(31, 41, 55);
    /*border: rgb(31, 41, 55);*/
}

.dark .btn-custom-login:hover,
.dark .btn-custom-signup:hover {
    background-color: rgb(31, 41, 55);
    color: white;
    border: 1px solid white;
}

.dark .btn-custom-login i,
.dark .btn-custom-signup i {
    color: inherit !important; /* Inherit text color from button */
}

.dark .navbar-brand {
    color: white;
}

.dark .bg-light {
    background-color: rgb(22, 22, 22) !important;
}

.dark .col-sm-8 img {
    filter: invert(100%) !important;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 0.7s ease-in forwards;
    animation-delay: 0.3s; /* Adjust delay to suit the animation timing */
}


/* Define the fade-in animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

