@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

body {
    font-family: "Poppins", sans-serif; /* Specify backup font family */
    background-color: #fff; /* Set a fallback background color */
}

.btn {
    border-radius: 8px;
}

/* Style the scrollbar track */
::-webkit-scrollbar-track {
    background-color: #1a1212; /* Set the background color to white */
}

/* Style the scrollbar handle */
::-webkit-scrollbar-thumb {
    background-color: #413030; /* Set the color of the scrollbar handle */
    border-radius: 10px; /* Add rounded corners to the handle */
}

/* Style the scrollbar when the handle is being hovered over */
::-webkit-scrollbar-thumb:hover {
    background-color: #382121; /* Change the color of the handle on hover */
}
