@tailwind base;
@tailwind components;
@tailwind utilities;

/* Remove the @apply directive */
* {
    transition-property: background-color;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(2 132 199);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
